.main-page {
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin: 5rem;
    padding: 3rem;
    
  }

  .custom-btn1,
  .custom-btn2,
  .custom-btn3{
    background-color: #C4C4C4;
    color : black;
    
  }
  